# Data preparation 9

In [64]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from IPython.display import display
pd.options.display.max_columns = None
pd.options.display.max_rows = 200

In [65]:
admissions=pd.read_csv('MAIN_DF_8.csv')
admissions=admissions.drop(['Unnamed: 0'], axis=1)
admissions=admissions.reset_index(drop=True)
print(admissions.shape)
print('unique SUBJECT_ID:', admissions.SUBJECT_ID.nunique())
print('unique HADM_ID   :', admissions.HADM_ID.nunique())
print('unique ICUSTAY_ID:', admissions.ICUSTAY_ID.nunique())
admissions.head()

(23055, 54)
unique SUBJECT_ID: 17469
unique HADM_ID   : 21650
unique ICUSTAY_ID: 23055

,SUBJECT_ID,HADM_ID,ICUSTAY_ID,GENDER,AGE_AD,ADMITTIME,DISCHTIME,ADMISSION_TYPE,INSURANCE,ETHNICITY,DIAGNOSIS,FIRST_CAREUNIT,FIRST_WARDID,INTIME,OUTTIME,LOS,LOS_C,TIMEDELTA,TIMEDELTA_C,HOSPITAL_EXPIRE_FLAG,BMI,I_VEN,NI_VEN,227456_V,225624_V,220615_V,220621_V,220545_V,225668_V,220235_V,223830_V,220734_V,227457_V,220224_V,220227_V,220645_V,225690_V,220546_V,220739_V,223901_V,223900_V,223835_V,220210_V,220277_V,220051_V,220052_V,220050_V,220045_V,220180_V,220181_V,220179_V,223761_V,224027_V,PrevHospDays
0,23,124321,234044,M,75.26000,2157-10-18 19:34:00,2157-10-25 14:00:00,EMERGENCY,Medicare,WHITE,BRAIN MASS,SICU,57,2157-10-21 11:40:38,2157-10-22 16:08:48,1.1862,1-2,6.77,6-10,0,21.7,0,0,NaN,14.0,0.6,136.0,36.9,NaN,NaN,NaN,NaN,208.0,NaN,NaN,144.0,NaN,14.8,Spontaneously,Obeys Commands,Oriented,NaN,14.0,100.0,74.0,86.0,181.0,77.0,45.0,50.0,67.0,35.4,Warm,2.67
1,34,144319,290505,M,90.89934,2191-02-23 05:23:00,2191-02-25 20:20:00,EMERGENCY,Medicare,WHITE,BRADYCARDIA,CCU,7,2191-02-23 05:25:32,2191-02-24 19:24:10,1.5824,1-2,2.62,0-3,0,27.4,0,0,NaN,36.0,1.6,116.0,35.9,NaN,NaN,NaN,NaN,343.0,NaN,NaN,139.0,NaN,7.1,None,Localizes Pain,No Response-ETT,60.0,14.0,98.0,NaN,NaN,NaN,72.0,66.0,78.0,112.0,36.1,Warm,0.00
2,36,165660,241249,M,72.73000,2134-05-10 11:30:00,2134-05-20 13:16:00,ELECTIVE,Medicare,WHITE,VENTRAL HERNIA/SDA,MICU,52,2134-05-12 06:52:47,2134-05-16 15:14:20,4.3483,>4,10.07,>10,0,32.7,1,0,2.8,19.0,0.9,126.0,36.3,1.0,60.0,7.29,NaN,174.0,58.0,94.0,139.0,0.6,15.3,Spontaneously,Obeys Commands,Oriented,100.0,20.0,91.0,NaN,NaN,NaN,94.0,72.0,84.0,122.0,37.4,Warm,1.81
3,85,112077,291697,M,76.85000,2167-07-25 18:49:00,2167-07-30 15:24:00,EMERGENCY,Medicare,WHITE,PNEUMONIA,MICU,23,2167-07-25 18:50:37,2167-07-27 18:37:35,1.9909,1-2,4.86,3-6,0,31.8,0,0,NaN,17.0,1.4,114.0,26.4,NaN,NaN,NaN,NaN,24.0,NaN,NaN,137.0,NaN,8.3,Spontaneously,Obeys Commands,Oriented,NaN,39.0,99.0,NaN,NaN,NaN,136.0,87.0,99.0,166.0,37.0,Warm,0.00
4,107,182383,252542,M,69.66000,2121-11-30 19:24:00,2121-12-05 14:18:00,EMERGENCY,Medicare,NW,HYPERKALEMIA;CONGESTIVE HEART FAILURE,MICU,23,2121-11-30 19:24:56,2121-12-01 21:20:57,1.0806,1-2,4.79,3-6,0,31.3,0,0,NaN,36.0,5.8,125.0,40.3,NaN,NaN,NaN,NaN,303.0,NaN,NaN,139.0,NaN,14.2,Spontaneously,Obeys Commands,Oriented,NaN,19.0,97.0,NaN,NaN,NaN,64.0,67.0,88.0,155.0,36.7,Warm,0.00

In [66]:
admissions=admissions.drop(['ADMITTIME', 'DISCHTIME', 'INTIME', 'OUTTIME', 'DIAGNOSIS', 
                            'HOSPITAL_EXPIRE_FLAG', 'LOS_C'], axis=1)
admissions.shape

(23055, 47)

In [67]:
admissions=admissions.drop(['TIMEDELTA', 'TIMEDELTA_C'], axis=1)
admissions.shape

(23055, 45)

In [68]:
admissions.isnull().sum()

SUBJECT_ID            0
HADM_ID               0
ICUSTAY_ID            0
GENDER                0
AGE_AD                0
ADMISSION_TYPE        0
INSURANCE             0
ETHNICITY             0
FIRST_CAREUNIT        0
FIRST_WARDID          0
LOS                   0
BMI                   0
I_VEN                 0
NI_VEN                0
227456_V          14559
225624_V              0
220615_V              0
220621_V              0
220545_V              0
225668_V          10837
220235_V          11549
223830_V          11479
220734_V          14115
227457_V              0
220224_V          11491
220227_V          17081
220645_V              0
225690_V          12842
220546_V              0
220739_V              0
223901_V              0
223900_V              0
223835_V          10948
220210_V              0
220277_V              0
220051_V          13712
220052_V          13737
220050_V          13731
220045_V              0
220180_V              0
220181_V              0
220179_V              0
223761_V              0
224027_V              0
PrevHospDays          0
dtype: int64

In [69]:
admissions=admissions.rename({'220739_V': 'GCS_E', '223901_V': 'GCS_M',
                             '223900_V': 'GCS_V', '224027_V': 'S_TEMP'}, axis='columns')

In [70]:
obj_df = admissions.select_dtypes(include=['object']).copy()
obj_df.head()

,GENDER,ADMISSION_TYPE,INSURANCE,ETHNICITY,FIRST_CAREUNIT,GCS_E,GCS_M,GCS_V,S_TEMP
0,M,EMERGENCY,Medicare,WHITE,SICU,Spontaneously,Obeys Commands,Oriented,Warm
1,M,EMERGENCY,Medicare,WHITE,CCU,None,Localizes Pain,No Response-ETT,Warm
2,M,ELECTIVE,Medicare,WHITE,MICU,Spontaneously,Obeys Commands,Oriented,Warm
3,M,EMERGENCY,Medicare,WHITE,MICU,Spontaneously,Obeys Commands,Oriented,Warm
4,M,EMERGENCY,Medicare,NW,MICU,Spontaneously,Obeys Commands,Oriented,Warm

In [71]:
admissions.ADMISSION_TYPE.value_counts()

EMERGENCY    19696
ELECTIVE      3108
URGENT         251
Name: ADMISSION_TYPE, dtype: int64

In [72]:
admissions['ADMISSION_TYPE']=np.where(admissions['ADMISSION_TYPE']=='URGENT', 'EMERGENCY', admissions['ADMISSION_TYPE'])
admissions['ADMISSION_TYPE']=np.where(admissions['ADMISSION_TYPE']=='EMERGENCY', 1, 0)

In [73]:
admissions.ADMISSION_TYPE.value_counts()

1    19947
0     3108
Name: ADMISSION_TYPE, dtype: int64

In [74]:
admissions['GENDER']=np.where(admissions['GENDER']=='M', 1, 0)

In [75]:
admissions.GENDER.value_counts()

1    12895
0    10160
Name: GENDER, dtype: int64

In [76]:
admissions.INSURANCE.value_counts()

Medicare      13064
Private        6781
Medicaid       2315
Government      689
Self Pay        206
Name: INSURANCE, dtype: int64

In [77]:
admissions['INSURANCE']=np.where(admissions['INSURANCE']=='Self Pay', 'Private',
                              np.where(admissions['INSURANCE']=='Government', 'Medicare',admissions['INSURANCE']))

In [78]:
admissions.INSURANCE.value_counts()

Medicare    13753
Private      6987
Medicaid     2315
Name: INSURANCE, dtype: int64

In [79]:
admissions['ETHNICITY']=np.where(admissions['ETHNICITY']=='WHITE', 1, 0)

In [80]:
obj_df = admissions.select_dtypes(include=['object']).copy()
obj_df.head()

,INSURANCE,FIRST_CAREUNIT,GCS_E,GCS_M,GCS_V,S_TEMP
0,Medicare,SICU,Spontaneously,Obeys Commands,Oriented,Warm
1,Medicare,CCU,None,Localizes Pain,No Response-ETT,Warm
2,Medicare,MICU,Spontaneously,Obeys Commands,Oriented,Warm
3,Medicare,MICU,Spontaneously,Obeys Commands,Oriented,Warm
4,Medicare,MICU,Spontaneously,Obeys Commands,Oriented,Warm

In [81]:
admissions=pd.get_dummies(admissions)

In [82]:
admissions.FIRST_WARDID.value_counts()

52    4301
50    2963
14    2790
23    2754
7     2745
33    2206
15    2005
57    1964
12    1327
Name: FIRST_WARDID, dtype: int64

In [83]:
admissions['FIRST_WARDID']=np.where(admissions['FIRST_WARDID']==52, '52',
                              np.where(admissions['FIRST_WARDID']==50, '50',
                                      np.where(admissions['FIRST_WARDID']==14, '14',
                                              np.where(admissions['FIRST_WARDID']==23, '23',
                                                      np.where(admissions['FIRST_WARDID']==7, '7',
                                                              np.where(admissions['FIRST_WARDID']==33, '33',
                                                                      np.where(admissions['FIRST_WARDID']==15, '15',
                                                                              np.where(admissions['FIRST_WARDID']==57, '57','12'))))))))

In [84]:
admissions.FIRST_WARDID.value_counts()

52    4301
50    2963
14    2790
23    2754
7     2745
33    2206
15    2005
57    1964
12    1327
Name: FIRST_WARDID, dtype: int64

In [85]:
admissions.shape

(23055, 67)

In [86]:
obj_df = admissions.select_dtypes(include=['object']).copy()
obj_df.head()

  FIRST_WARDID
0           57
1            7
2           52
3           23
4           23

In [87]:
admissions=pd.get_dummies(admissions)

In [88]:
admissions.shape

(23055, 75)

In [89]:
admissions.columns

Index(['SUBJECT_ID', 'HADM_ID', 'ICUSTAY_ID', 'GENDER', 'AGE_AD',
       'ADMISSION_TYPE', 'ETHNICITY', 'LOS', 'BMI', 'I_VEN', 'NI_VEN',
       '227456_V', '225624_V', '220615_V', '220621_V', '220545_V', '225668_V',
       '220235_V', '223830_V', '220734_V', '227457_V', '220224_V', '220227_V',
       '220645_V', '225690_V', '220546_V', '223835_V', '220210_V', '220277_V',
       '220051_V', '220052_V', '220050_V', '220045_V', '220180_V', '220181_V',
       '220179_V', '223761_V', 'PrevHospDays', 'INSURANCE_Medicaid',
       'INSURANCE_Medicare', 'INSURANCE_Private', 'FIRST_CAREUNIT_CCU',
       'FIRST_CAREUNIT_CSRU', 'FIRST_CAREUNIT_MICU', 'FIRST_CAREUNIT_SICU',
       'FIRST_CAREUNIT_TSICU', 'GCS_E_None', 'GCS_E_Spontaneously',
       'GCS_E_To Pain', 'GCS_E_To Speech', 'GCS_M_Abnormal Flexion',
       'GCS_M_Abnormal extension', 'GCS_M_Flex-withdraws',
       'GCS_M_Localizes Pain', 'GCS_M_No response', 'GCS_M_Obeys Commands',
       'GCS_V_Confused', 'GCS_V_Inappropriate Words',
       'GCS_V_Incomprehensible sounds', 'GCS_V_No Response',
       'GCS_V_No Response-ETT', 'GCS_V_Oriented', 'S_TEMP_Cold', 'S_TEMP_Cool',
       'S_TEMP_Hot', 'S_TEMP_Warm', 'FIRST_WARDID_12', 'FIRST_WARDID_14',
       'FIRST_WARDID_15', 'FIRST_WARDID_23', 'FIRST_WARDID_33',
       'FIRST_WARDID_50', 'FIRST_WARDID_52', 'FIRST_WARDID_57',
       'FIRST_WARDID_7'],
      dtype='object')

In [90]:
admissions=admissions.rename({'227456_V': 'ALBUMIN', '225624_V': 'BUN', '220615_V': 'CREATININE', 
    '220621_V': 'GLUCOSE', '220545_V': 'HEMATOCRIT', '225668_V': 'LACTIC',
    '220235_V': 'PCO2A', '223830_V': 'PHA', '220734_V': 'PHD', '227457_V': 'PLATELETC', 
    '220224_V': 'PO2A', '220227_V': 'SAO2', '220645_V': 'SODIUM', '225690_V': 'TBILIRUBIN', 
    '220546_V': 'WBC', '223835_V': 'FIO2', '220210_V': 'RR', '220277_V': 'SPO2',
    '220051_V': 'ABPD', '220052_V': 'ABPM', '220050_V': 'ABPS', 
    '220045_V': 'HR', '220180_V': 'NBPD', '220181_V': 'NBPM',
    '220179_V': 'NBPS', '223761_V': 'TEMP', 'PrevHospDays':'PrevDays', 
    'INSURANCE_Medicaid': 'INSMcaid', 'INSURANCE_Medicare': 'INSMcare', 
    'INSURANCE_Private': 'INSPvate', 'FIRST_CAREUNIT_CCU': 'FCU_CCU', 'FIRST_CAREUNIT_CSRU': 'FCU_CSRU', 
    'FIRST_CAREUNIT_MICU': 'FCU_MICU', 'FIRST_CAREUNIT_SICU': 'FCU_SICU', 
    'FIRST_CAREUNIT_TSICU': 'FCU_TSICU', 'GCS_E_Spontaneously': 'GCS_E_Spont', 'GCS_E_To Pain': 'GCS_E_Pain', 
    'GCS_E_To Speech': 'GCS_E_Speech', 'GCS_M_Abnormal Flexion': 'GCS_M_AbFlex',
    'GCS_M_Abnormal extension': 'GCS_M_Abext', 'GCS_M_Flex-withdraws': 'GCS_M_Flexwdr',
    'GCS_M_Localizes Pain': 'GCS_M_LocPain', 'GCS_M_No response': 'GCS_M_Noresp', 
    'GCS_M_Obeys Commands': 'GCS_M_ObeyCom', 'GCS_V_Confused': 'GCS_V_Conf', 
    'GCS_V_Inappropriate Words': 'GCS_V_InWord', 'GCS_V_Incomprehensible sounds': 'GCS_V_Insou', 
    'GCS_V_No Response': 'GCS_V_NoResp', 'GCS_V_No Response-ETT': 'GCS_V_NoReETT', 
    'GCS_V_Oriented': 'GCS_V_Orie', 'FIRST_WARDID_12': 'FW12', 'FIRST_WARDID_14': 'FW14',
    'FIRST_WARDID_15': 'FW15', 'FIRST_WARDID_23': 'FW23', 'FIRST_WARDID_33': 'FW33',
    'FIRST_WARDID_50': 'FW50', 'FIRST_WARDID_52': 'FW52', 'FIRST_WARDID_57': 'FW57',
    'FIRST_WARDID_7': 'FW7'}, axis='columns')

In [91]:
admissions.shape

(23055, 75)

In [92]:
admissions.to_csv('MAIN_DF_9.csv')